body {
    font-family: $font;
}

section {
    overflow: hidden;

    h1 {
        margin-top: 0;
    }

    h2 {
        font-size: 1.25em;
        margin-top: $sectionHeaderTopMargin;
    }

    h3 {
        font-size: 1em;
    }
}

a {
    color: $themeLightestRed;

    &:visited {
        color: $themeRed;
    }

    &:active {
        color: $themeLightestRedComplement;
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }
}

details {
    margin-top: 0.75em;

    & > summary {
        cursor: pointer;
        color: $themeLightestRed;
        // text-decoration: underline;
        padding: 0.25em;
        margin-bottom: 0.5em;
    }
}

.left {
    float: left;
    margin: 0 20px 5px 0;
}
