h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
}

section {
    h2 {
        font-size: 1.25em;
    }

    h3 {
        font-size: 1em;
    }
}

a {
    color: $themeLightestRed;

    &:visited {
        color: $themeRed;
    }

    &:active {
        color: $themeLightestRedComplement;
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }
}

.left {
    float: left;
    margin: 0 20px 5px 0;
}

.clear {
    clear: both;
}
