footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: $siteWidth;
    margin: 40px auto 0;
    padding-top: $footerTopPadding;
    border-top: 1px solid $black;
    font-size: 0.8em;
    @media (max-width: $footerMobileBreakpoint) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    div {
        display: inline-block;

        &:nth-child(2) {
            text-align: center;
            @media (max-width: $footerMobileBreakpoint) {
                margin-top: $footerMobileMiddleColumnTopMargin;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
            }
        }

        &:nth-child(3) {
            text-align: right;
        }

        p {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;

                &:not(:first-child) {
                    margin-left: $footerListElementMarginBetween;
                }

                a {
                    img {
                        height: $footerListLinkImageHeight;
                    }
                }
            }
        }
    }
}
