$black: #000000;
$white: #FFFFFF;

$font: 'Verdana', sans-serif;
$sectionHeaderTopMargin: 1.5em;
$researchListItemSize: 0.9em;

$themeDarkestRed: #250000;
$themeDarkRed: #490000;
$themeRed: #6E0000;
$themeLightRed: #941616;
$themeLightestRed: #B83535;

$themeLightestRedComplement: #35b8b8;

$siteWidth: 900px;

$footerTopMargin: 2em;
$footerTopPadding: 1em;
$footerColumnMarginBetween: 2em;
$footerMobileBreakpoint: 460px;
$footerMobileMiddleColumnTopMargin: 0.75em;
$footerListElementMarginBetween: 0.5em;
$footerListLinkImageHeight: 1.5em;
