/***********
 * Colors *
 ***********/
$black: #000000;
$white: #FFFFFF;

$themeDarkestRed: #250000;
$themeDarkRed: #490000;
$themeRed: #6E0000;
$themeLightRed: #941616;
$themeLightestRed: #B83535;

$themeLightestRedComplement: #35b8b8;


/********************
 * Site-wide styles *
 ********************/
$font: 'Verdana', sans-serif;
$siteWidth: 900px;

$sectionHeaderTopMargin: 1.5em;


/**********
 * Header *
 **********/
$headerTitleFontSize: 2em;
$headerNavFontSize: 1.25em;
$headerBottomMargin: 1.5em;
$headerMobileBreakpoint: 565px;


/**********
 * Footer *
 **********/
$footerTopMargin: 1.5em;
$footerTopPadding: 1em;
$footerMobileBreakpoint: 400px;
$footerMobileMiddleColumnTopMargin: 0.75em;
$footerListElementMarginBetween: 0.5em;
$footerListLinkImageHeight: 1.5em;


/**************
 * About page *
 **************/
$aboutImgMobileBreakpoint: 450px;


/*****************
 * Research page *
 *****************/
$researchListItemSize: 0.9em;
