<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{page.title}} | {{ site.title }}</title>

    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Panelbear Analytics - We respect your privacy -->
    <script async src="https://cdn.panelbear.com/analytics.js?site=F1OKEr5Jzkj"></script>
    <script>
        window.panelbear = window.panelbear || function () { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
        panelbear('config', { site: 'F1OKEr5Jzkj' });
    </script>

    <!-- Cronitor RUM -->
    <script async src="https://rum.cronitor.io/script.js"></script>
    <script>
        window.cronitor = window.cronitor || function() { (window.cronitor.q = window.cronitor.q || []).push(arguments); };
        cronitor('config', { clientKey: 'a2ef5a4c3cbe862e4f1f5734488ba971' });
    </script>
</head>
<body>

    <header>
        <h1>
            <a href="/">
                {{ site.title }}
            </a>
        </h1>
        <nav>
            <ul>
                <li><a href="/" class="{{ page.about_classes }}">About</a></li>
                <li><a href="/research/" class="{{ page.research_classes }}">Research</a></li>
                <li><a href="/writing/" class="{{ page.writing_classes }}">Writing</a></li>
            </ul>
        </nav>
    </header>

    <section id="content" class="{{ page.section_classes }}">
        {{#unless page.hide_title }}<h1>{{ page.title }}</h1>{{/unless}}
        {{{ contents }}}
    </section>

    <footer>
        <div><a href="mailto:rsyang@mit.edu">rsyang@mit.edu</a></div>
        <div>
            <p>Copyright &copy; {{ currentYear }}</p>
            <p>Rachel Yang</p>
        </div>
        <div>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/rachelsyang" id="linkedin-link" title="LinkedIn">
                        <img src="/assets/images/In-Black-34px-R.png" alt="LinkedIn">
                    </a>
                </li>
            </ul>
        </div>
    </footer>

</body>
</html>
